<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-12-2"></div>

    <div class="col-12-8 my-3">
      <h1 class="text-center">Edite um contato</h1>
      
      <div id="error-container"></div>
      <%- include('./includes/message') %>
      <div class="row">

        <div class="col-12 my-5">

          <h4>Editar contato</h4>
          <p>Preecha o formulário abaixo para editar o contato:</p>

          <form class="form-contact-edit" action="/contact/edit/update/<%= contact._id %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <div class="form-group">
              <label>Nome</label>
              <input type="text" class="form-control" name="name" value="<% if(contact.length > 0) %><%=contact.name%>">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" value="<% if(contact.length > 0) %><%=contact.email%>">
            </div>
            <div class="form-group">
              <label>Telefone</label>
              <input type="text" class="form-control" name="cel" value="<% if(contact.length > 0) %><%=contact.cel%>">
            </div>
            <button type="submit" class="btn btn-primary btn-login">Atualizar</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-12-2"></div>
  </div>
</div>

<%- include('includes/footer') %>