<%- include("includes/head.ejs") %>
<%- include("includes/guestNav.ejs") %>

<div class="container">
    <%- include('./includes/message') %>
    <h1 class="error">Você precisa logar para ter acesso ao site!</h1>
</div>
<style>
    .error {
        color: rgba(255, 28, 28, 0.843);
    }
</style>

<%- include("includes/footer.ejs") %>


<%- include("includes/footer.ejs") %>

