<%- include("includes/head.ejs") %>
<%- include("includes/nav.ejs") %>

<div class="container">
    <%- include('./includes/message') %>
    <h1>Lista de Contatos</h1>
    <div class="table-container">
        <div>
            <% if(contactData.length === 0) {%>
                 <h2>Nenhum contato criado</h2>
            <% } else {  %>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                </tr>
                <% contactData.forEach(data => { %>
                   <tr>
                        <td><%= data.name %></td>
                        <td><%= data.cel %></td>
                        <td><%= data.email %></td>
                        <td class="btn-blue"><a href="/contact/edit/index/<%= data._id %>">Editar</a></td>
                        <td class="btn-red"><a href="/contact/delete/<%= data._id %>">Excluir</a></td>
                    </tr> 
                <% }) %>
            </table>
            <% } %>
        </div>
    </div>
</div>

<%- include("includes/footer.ejs") %>

